<div >
     <p>argumentos  {{argumentos}}</p>
     <p>Sistema operativo {{sistema}}</p>
     <p>version nodejs {{version}}</p>
     <p>Memoria total reservada {{memoria}}</p>
     <p>path de ejecucion {{path}}</p>
     <p>Process id {{pid}}</p>
     <p>Carpeta del proyecto {{carpeta}}</p>
</div>